#problems_table td{
    border: 1px solid;
}
#problems_table{
    border: 1px solid;
}

.doing{
    background-color: darkslateblue;
    color: white;
}
.code{
    border: 1px solid;
}

#myProgress {
    width: 100%;
    background-color: grey;
  }
  
  #myBar {
    width: 14%;
    height: 30px;
    background-color: green;
  }